<html>
<head>
<meta charset="utf-8">
<title>后台管理模板</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="/static/plugins/layui/css/layui.css" media="all" />
<link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/global.css" media="all">
<title>{block name="title"}标题{/block}</title>
</head>
<body>

{block name="menu"}{/block}
{block name="left"}{/block}
{block name="main"}{/block}
{block name="right"}{/block}
<script type="text/javascript" src="/static/plugins/layui/layui.js"></script>
{block name="footer"}{/block}
</body>
</html>